ALPACA_AUTH_MODE=trading
ALPACA_API_KEY=replace-me
ALPACA_SECRET_KEY=replace-me
ALPACA_BASE_URL=https://data.alpaca.markets

ALPHA_VANTAGE_API_KEY=replace-me
ALPHA_VANTAGE_BASE_URL=https://www.alphavantage.co/query

NGNMARKET_API_KEY=replace-me
NGNMARKET_BASE_URL=https://api.ngnmarket.com/v1

HISTORICAL_DATA_CACHE_DIR=./data/historical_cache
SIMULATION_OUTPUT_DIR=./data/simulation_results
RUN_PROVIDER_INTEGRATION_TESTS=false
